@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;0,900;1,700&family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;0,900;1,700&family=Quicksand:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 4rem 0;
  background-color: #0cbaba;
  color: white;
  margin-bottom: 1rem;
}

#guess-input {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 18px;
  width: 250px;
  border: 1px solid #ccc;
}

#guess-button {
  display: block;
  margin: 1rem auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0cbaba;
  color: #fff;
  border: none;
  border-radius: 3px;
}

button:active {
  transform: scale(0.95);
}

.container {
  width: 26vw;
  height: fit-content;
  inset: 0;
  margin: auto;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  overflow: hidden;
  top: 13vh;
}

.letter {
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
  min-width: 20px;
  text-align: center;
  display: inline-block;
}

.row {
  margin-bottom: 10px;
}

.input-area {
  margin: 30px;
}

#grid {
  /* Estas tres lineas van a centrar el contenido verticalmente dentro de cada div */
  display: grid;
  grid-template-columns: repeat(5, 34px);
  gap: 17px;
  margin: 17px;
}

.square {
  height: 40px;
  width: 40px;
  border: 5px solid #0cbaba;
}

.letter-container {
  color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 27px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.winTitle {
  position: absolute;
  right: 40%;
  top: 50%;
  margin-bottom: 20px;
  padding: 4rem 1rem;
}

.loseTitle {
  position: absolute;
  right: 40%;
  top: 50%;
  margin-bottom: 20px;
  padding: 4rem 1rem;
}

.in-game {
  padding: 1rem 0;
}
